<div class="container" style="margin-top: 25px;">
  <h1>Stupid Coaching</h1>
  <h5>Say something to Coach...</h5>
  <div>
    <form action="answer" data-turbo="false">
      <input type="text" name="ask">
      <input type="submit" value="Ask!">
    </form>
    </div>
</div>
